@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

:root {
    --fs-normal: 16px;
    --fs-h1: 48px;
    --fs-h2: 32px;
    --fs-h3: 21px;
    /*color*/
    --silver: #EEEFF1;
    --black: #000000;
    --brown: #727272;
    --white: #FFFFFF;
    --indigo: #34547A;
    /*container size*/
    --container-width: 1110px;
    --container-space: 25px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: calc(var(--container-width) + var(--container-space) * 2);
    padding: 0 var(--container-space);
    width: 100%;
    margin: 0 auto;
}

.page-up {
    background-color: var(--silver);
}

.nav {
    display: flex;
    gap: 42px;
    padding-top: 79px;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.link {
    cursor: pointer;
    font-size: var(--fs-normal);
    color: var(--black);
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.link:hover {
    color: var(--indigo);
}

.main {
    padding-top: 162px;
    padding-bottom: 141px;
}

.h1 {
    font-size: var(--fs-h1);
    color: var(--black);
    font-style: normal;
    font-weight: 500;
    line-height: 79px
}

.txt {
    font-size: var(--fs-normal);
    color: var(--brown);
    font-style: normal;
    font-weight: 400;
    line-height: 26px;

}

.indent {
    padding-top: 60px;
    padding-bottom: 65px;
    text-align: left;
}

.btn {
    padding: 20px 41px;
    background-color: var(--indigo);
    color: var(--white);
    border: none;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.indent_section {
    padding-top: 112px;
    padding-bottom: 100px;
}

.h2 {
    font-size: var(--fs-h2);
    font-style: normal;
    font-weight: 500;
    line-height: 38px;
    color: var(--black);
    padding-bottom: 50px;
}

.location {
    text-align: center;
}

.page-second {
    background-color: var(--indigo);
}

.ul {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 50px;
    flex-wrap: wrap;
}

.li {
    display: flex;
    gap: 20px;
}

.progect {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.h3 {
    font-size: var(--fs-h3);
    font-style: normal;
    font-weight: 500;
    line-height: 25px;
    color: var(--white);
}

.description {
    font-size: var(--fs-normal);
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    color: var(--white);
}

.second_section_indent {
    padding-top: 100px;
    padding-bottom: 57px;
}

.video {
    width: 100%;
    margin-bottom: 100px;
}

.footer {
    padding: 40px 0px;
}

.p_footer {
    margin-top: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    color: white;
}